<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="blocks/head :: head"></div>
    <title>List of Users</title>
</head>
<body>
<div th:insert="blocks/header :: header" th:remove="tag"></div>

<section class="container mt-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Avatar</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="user : ${users}" th:remove="tag">
            <tr>
                <th scope="row" th:text="${user.getId()}"></th>
                <td>
                    <img th:src="${user.getAvatar().orElse('/images/avatar.svg')}" alt="Avatar" width="50px"
                         height="50px">
                </td>
                <td>
                    <a th:href="@{'/users/' + ${user.getId()}}" th:text="${user.getEmail()}" class="nav-link"></a>
                </td>
                <td>
                    <p th:text="${user.getRole()}"></p>
                </td>
                <td><a th:href="@{'/users/edit/' + ${user.getId()}}" type="button"
                       class="btn btn-outline-primary">Edit</a></td>
                <td>
                    <form th:action="@{'/users/' + ${user.getId()}}" th:method="DELETE">
                        <button class="btn btn-outline-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </div>
    </table>
</section>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
