<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="blocks/head :: head"></div>
    <title>List of Users</title>
</head>
<body>
<div th:insert="blocks/header :: header" th:remove="tag"></div>

<section class="container mt-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Avatar</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="user : ${users}" th:remove="tag">
            <tr>
                <th scope="row" th:text="${user.getId()}"></th>
                <td>
                    <img th:src="${user.getAvatar().orElse('/images/avatar.svg')}" alt="Avatar" width="50px"
                         height="50px">
                </td>
                <td th:text="${user.getEmail()}"></td>
                <td>
                    <select class="form-select">
                        <div th:each="role : ${roles}" th:remove="tag">
                            <option th:selected="${#strings.equalsIgnoreCase(role, user.getRole())}"
                                    th:text="${role}">
                            </option>
                        </div>
                    </select>
                </td>
                <td><a th:href="@{'/users/' + ${user.getId()} + '/edit'}" type="button"
                       class="btn btn-outline-primary">Edit</a></td>
                <td><a th:href="@{'/users/' + ${user.getId()} + '/delete'}" type="button"
                       class="btn btn-outline-danger">Delete</a></td>
            </tr>
        </div>
    </table>
</section>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
