<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" th:href="@{favicon.png}"/>
</head>
<body>
<div th:insert="block/header :: header"></div>

<main>
    <div th:each="admin : ${admins}">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img width="140" height="140"
                 th:src="${(admin.profilePhoto != null && !#strings.isEmpty(admin.profilePhoto))
                             ? admin.profilePhoto : 'profile_photo.png'}"/>
            <h2 class="fw-light mb-5" th:text="${admin.email}"></h2>
        </div>
    </div>
</main>

<div th:insert="block/footer :: footer"></div>
</body>
</html>
