<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Article</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
</head>
<body>
<div th:insert="block/header :: header"></div>

<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <img class="rounded" th:src="@{'data:image/jpeg;base64,'+${article.image}}"/>
            <h1 class="display-5 fw-bold" th:text="${article.title}"></h1>
            <p class="col-md-8 fs-4" th:text="${article.text}"></p>
        </div>
    </div>
</div>

<div th:insert="block/footer :: footer"></div>
</body>
</html>
