<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="blocks/header :: header"></div>
    <title>Blog</title>
</head>

<body>
<div th:insert="blocks/hat :: hat" th:remove="tag"></div>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-8 mt-5">
            <form class="needs-validation" action="/articles/create-new-article" method="POST" novalidate>
                <label for="title" class="form-label">Title</label>
                <input name="title" type="text" class="form-control" id="title" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Valid title is required.
                </div>

                <label for="text" class="form-label">Text</label>
                <textarea name="text" class="form-control" id="text" placeholder="" required></textarea>
                <div class="invalid-feedback">
                    Valid text is required.
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Create</button>
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
