<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div th:insert="blocks/header :: header"></div>

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Blog</h1>
                <p class="lead text-muted">Breaking news, video, audio and feature stories</p>
            </div>
        </div>
    </section>
    <div class="container h-100">
        <div th:each="article : ${articles}">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0" th:text="${article.title}"></h3>
                            <div class="mb-1 text-muted" th:text="${article.date}"></div>
                            <p class="card-text mb-auto" th:text="${article.description}"></p>
                            <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250"
                                 xmlns="http://www.w3.org/2000/svg"
                                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                 focusable="false"><title>Placeholder</title>
                                <img width="250" height="250"
                                     th:src="@{'data:image/jpeg;base64,'+${article.getBase64EncodedImage()}}"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
