<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>

    <link rel="shortcut icon" type="image/png" th:href="@{favicon.png}"/>
</head>
<body>
<div th:insert="block/header :: header"></div>

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Blog</h1>
                <p class="lead text-muted">Breaking news, video, audio and feature stories</p>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <div th:each="article : ${articles}">
                <div class="col">
                    <a th:href="@{'/articles/'+${article.getTitleLink()}}" th:object="${article}" class="nav-link">
                        <div class="card mb-4 card-animation">
                            <img class="card-img-top" th:src="@{'storage/articles/'+${article.image}}"
                                 alt="${article.image}">
                            <div class="card-body">
                                <p class="card-text" th:text="${article.title}"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:insert="block/footer :: footer"></div>
</body>
</html>
