<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="blocks/head :: head"></div>
    <title>Article</title>
</head>
<body>
<div th:insert="blocks/header :: header" th:remove="tag"></div>

<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div th:remove="tag" th:utext="${article.content}"></div>
    </div>
</div>

<div th:if="${user != null} OR ${!comments.isEmpty()}" class="row d-flex justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <div class="card-body p-4">
                <div sec:authorize="isAuthenticated()" class="form-outline mb-4" onSubmit="window.location.reload()">
                    <form th:action="@{'/articles/'+${article.getLink()}+'/add-comment'}" method="POST">
                        <input type="text" id="comment" name="comment" class="form-control"
                               placeholder="Add a comment"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </div>
                <div th:each="comment : ${comments}" th:remove="tag">
                    <div class="card mb-4">
                        <div class="card-body">
                            <p th:text="${comment.getContent()}"></p>
                            <div class="d-flex justify-content-between">
                                <a th:href="@{'mailto: '+${comment.getUser().getEmail()}}"
                                   class="d-flex flex-row align-items-center nav-link">
                                    <img th:src="${comment.getUser().getAvatar().orElse('/images/avatar.svg')}"
                                         alt="avatar"
                                         width="25"
                                         height="25"/>
                                    <p class="small mb-0 ms-2" th:text="${comment.getUser().getEmail()}"></p>
                                </a>
                                <div class="d-flex flex-row align-items-center text-primary">
                                    <p class="small mb-0" th:text="${comment.published}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
