<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="blocks/head :: head"></div>
    <title>Blog</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
<div th:insert="blocks/header :: header" th:remove="tag"></div>

<div class="container h-100 mt-4">
    <form th:action="@{'/articles/' + ${id} + '/edit'}" th:method="PATCH" enctype="multipart/form-data">
        <input id="title" name="title" type="text" class="form-control mb-2" placeholder="Title"
               th:value="${article.getTitle()}">
        <input id="thumbnail" name="thumbnail" class="form-control mb-4" type="file" accept=".jpg, .jpeg, .png, .webp">
        <textarea id="content" name="content" th:text="${article.getContent()}"></textarea>
        <div dir="rtl">
            <button class="btn btn-primary btn-lg mt-1" type="submit" id="button">Submit</button>
        </div>
    </form>
</div>

<script src="/webjars/tinymce/tinymce.min.js" type="text/javascript"></script>
<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/js/tinymce-config.js" type="text/javascript"></script>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
